body {
  max-width: none;
  margin: auto;
  padding: inherit;
  height: 100vh;
  width: 100vw;
}

button {
  width: 25%;
}

.my-container {
  display: flex;
  height: 100%;
}

#left-column {
  padding: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #204060;
  overflow: scroll;
  text-align: center;
  flex: 0 0 150px;
}

#right-column {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  padding-top: 10%;
}

#street {
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.house {
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.hoverable {
  padding: 10px;
}

.candy-img {
  max-width: 75%;
  max-height: 75%;
  animation-name: slidein;
  /* animation-iteration-count: 1;
  animation-timing-function: ease-in; */
  animation-duration: 0.5s;
}

.hoverable:hover {
  position: relative;
  top: -5px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
